In [238]:
import numpy as np
import pandas as pd

In [240]:
df = pd.read_csv("Air Quality data.csv")

,City Name,Date,PM2.5,PM10,NO_(Nitric Oxide),NO2_(Nitrogen Dioxide),NOx,NH3_(Ammonia),CO_(Carbon Monoxide),SO2_(Sulfur Dioxide),O3_(Ozone),Benzene,Toluene,Xylene,AQI,AQI_bucket
0,Ahmedabad,02-01-2015,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
1,Ahmedabad,04-01-2015,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1,NaN,NaN
2,Ahmedabad,05-01-2015,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [246]:
# Replace null values in 'City_name' with "Chandigarh"
df['City Name'].fillna('Chandigarh', inplace=True)
df['City Name'].isnull().sum()

np.int64(0)

In [247]:
# Rename the column 'City Name' to 'City_name'
df.rename(columns={'City Name': 'City_name'}, inplace=True)

In [248]:
df.columns

Index(['City_name', 'Date', 'PM2.5', 'PM10 ', 'NO_(Nitric Oxide)',
       'NO2_(Nitrogen Dioxide)', 'NOx ', 'NH3_(Ammonia)',
       'CO_(Carbon Monoxide)', 'SO2_(Sulfur Dioxide)', 'O3_(Ozone)', 'Benzene',
       'Toluene', 'Xylene', 'AQI', ' AQI_bucket'],
      dtype='object')

In [261]:
df['Date'].fillna(method='ffill', inplace=True)

C:\Users\ragab\AppData\Local\Temp\ipykernel_22940\3572410786.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Date'].fillna(method='ffill', inplace=True)
C:\Users\ragab\AppData\Local\Temp\ipykernel_22940\3572410786.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Date'].fillna(method='ffill', inplace=True)

In [251]:
df.isnull().sum()

City_name                     0
Date                          0
PM2.5                      4593
PM10                      11134
NO_(Nitric Oxide)          3581
NO2_(Nitrogen Dioxide)     3583
NOx                        4185
NH3_(Ammonia)             10323
CO_(Carbon Monoxide)       2059
SO2_(Sulfur Dioxide)       3853
O3_(Ozone)                 4020
Benzene                    5623
Toluene                    8040
Xylene                    18105
AQI                        4678
 AQI_bucket                4667
dtype: int64

In [262]:
df['PM2.5'] = pd.to_numeric(df['PM2.5'], errors='coerce')
df['PM2.5'].median()

np.float64(48.17)

In [263]:
city_wise_median_PM = df.groupby('City_name')['PM2.5'].median()

In [264]:
df['PM2.5'] = df.apply(
    lambda row: city_wise_median_PM[row['City_name']] if pd.isnull(row['PM2.5']) else row['PM2.5'],
    axis=1
)

In [271]:
df[df['PM2.5'].isna()]

Empty DataFrame
Columns: [City_name, Date, PM2.5, PM10 , NO_(Nitric Oxide), NO2_(Nitrogen Dioxide), NOx , NH3_(Ammonia), CO_(Carbon Monoxide), SO2_(Sulfur Dioxide), O3_(Ozone), Benzene, Toluene, Xylene, AQI,  AQI_bucket]
Index: []

In [272]:
df.isnull().sum()

City_name                     0
Date                          0
PM2.5                         0
PM10                      11133
NO_(Nitric Oxide)          3580
NO2_(Nitrogen Dioxide)     3582
NOx                        4184
NH3_(Ammonia)             10322
CO_(Carbon Monoxide)       2058
SO2_(Sulfur Dioxide)       3852
O3_(Ozone)                 4019
Benzene                    5622
Toluene                    8039
Xylene                    18104
AQI                        4677
 AQI_bucket                4667
dtype: int64

In [274]:
df['PM10 ']= pd.to_numeric(df['PM10 '], errors='coerce')
df['PM10 '].median()

np.float64(95.68)

In [280]:
city_wise_median_PMPM = df.groupby('City_name')['PM10 '].median()

In [276]:
df['PM10 '] = df.apply(
    lambda row: city_wise_median_PM[row['City_name']] if pd.isnull(row['PM10 ']) else row['PM10 '],
    axis=1
)

In [279]:
df['NO_(Nitric Oxide)']=  pd.to_numeric(df['NO_(Nitric Oxide)'], errors='coerce')
df['NO_(Nitric Oxide)'].median()

np.float64(9.89)

In [281]:
city_wise_median_NO = df.groupby('City_name')['NO_(Nitric Oxide)'].median()

In [282]:
df['NO_(Nitric Oxide)'] = df.apply(
    lambda row: city_wise_median_NO[row['City_name']] if pd.isnull(row['NO_(Nitric Oxide)']) else row['NO_(Nitric Oxide)'],
    axis=1
)

In [284]:
df['NO2_(Nitrogen Dioxide)']=  pd.to_numeric(df['NO2_(Nitrogen Dioxide)'], errors='coerce')
df['NO2_(Nitrogen Dioxide)'].median()

np.float64(21.69)

In [285]:
city_wise_median_NO2 = df.groupby('City_name')['NO2_(Nitrogen Dioxide)'].median()

In [286]:
df['NO2_(Nitrogen Dioxide)'] = df.apply(
    lambda row: city_wise_median_NO[row['City_name']] if pd.isnull(row['NO2_(Nitrogen Dioxide)']) else row['NO2_(Nitrogen Dioxide)'],
    axis=1
)

In [288]:
df['NOx ']=  pd.to_numeric(df['NOx '], errors='coerce')
df['NOx '].median()

np.float64(23.52)

In [289]:
city_wise_median_NOx = df.groupby('City_name')['NOx '].median()

In [290]:
df['NOx '] = df.apply(
    lambda row: city_wise_median_NOx[row['City_name']] if pd.isnull(row['NOx ']) else row['NOx '],
    axis=1
)

In [292]:
# Strip any leading/trailing spaces in 'City_name' column
df['City_name'] = df['City_name'].str.strip()

In [293]:
# Check for invalid values or non-numeric entries in 'NOx'
print(df['NOx '].head())  # View a few rows of the 'NOx' column

0     16.46
1     17.97
2     37.76
3     81.50
4    130.77
Name: NOx , dtype: float64

In [294]:
# Reapply the lambda function to fill NaNs based on city-wise median
df['NOx '] = df.apply(
    lambda row: city_wise_median_NOx[row['City_name']] if pd.isnull(row['NOx ']) else row['NOx '],
    axis=1
)

In [295]:
# Fill remaining NaN values in 'NOx' column with the overall median
df['NOx '].fillna(df['NOx '].median(), inplace=True)

C:\Users\ragab\AppData\Local\Temp\ipykernel_22940\264564490.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NOx '].fillna(df['NOx '].median(), inplace=True)

In [296]:
# Check if there are any remaining NaN values in 'NOx'
print(df['NOx '].isnull().sum())

0

In [297]:
df.isnull().sum()

City_name                     0
Date                          0
PM2.5                         0
PM10                          0
NO_(Nitric Oxide)             0
NO2_(Nitrogen Dioxide)        0
NOx                           0
NH3_(Ammonia)             10322
CO_(Carbon Monoxide)       2058
SO2_(Sulfur Dioxide)       3852
O3_(Ozone)                 4019
Benzene                    5622
Toluene                    8039
Xylene                    18104
AQI                        4677
 AQI_bucket                4667
dtype: int64

In [300]:
df['NH3_(Ammonia)'] = pd.to_numeric(df['NH3_(Ammonia)'], errors='coerce')
df['NH3_(Ammonia)'].median()

np.float64(15.86)

In [301]:
city_wise_median_NH3 = df.groupby('City_name')['NH3_(Ammonia)'].median()

In [302]:
df['NH3_(Ammonia)'] = df.apply(
    lambda row: city_wise_median_NH3[row['City_name']] if pd.isnull(row['NH3_(Ammonia)']) else row['NH3_(Ammonia)'],
    axis=1
)

In [304]:
df['City_name'] = df['City_name'].str.strip()

In [305]:
# Check for any invalid or non-numeric values in 'NH3_(Ammonia)'
print(df['NH3_(Ammonia)'].head())  # Inspect the first few rows

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: NH3_(Ammonia), dtype: float64

In [306]:
df['NH3_(Ammonia)'] = df.apply(
    lambda row: city_wise_median_NH3[row['City_name']] if pd.isnull(row['NH3_(Ammonia)']) else row['NH3_(Ammonia)'],
    axis=1
)

In [307]:
# Fill remaining NaN values with the overall median of 'NH3_(Ammonia)'
df['NH3_(Ammonia)'].fillna(df['NH3_(Ammonia)'].median(), inplace=True)

C:\Users\ragab\AppData\Local\Temp\ipykernel_22940\2646172140.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NH3_(Ammonia)'].fillna(df['NH3_(Ammonia)'].median(), inplace=True)

In [308]:
# Check if any NaN values remain in 'NH3_(Ammonia)'
print(df['NH3_(Ammonia)'].isnull().sum())  # Should return 0 if all NaNs are replaced

0

In [310]:
df.columns

Index(['City_name', 'Date', 'PM2.5', 'PM10 ', 'NO_(Nitric Oxide)',
       'NO2_(Nitrogen Dioxide)', 'NOx ', 'NH3_(Ammonia)',
       'CO_(Carbon Monoxide)', 'SO2_(Sulfur Dioxide)', 'O3_(Ozone)', 'Benzene',
       'Toluene', 'Xylene', 'AQI', ' AQI_bucket'],
      dtype='object')

In [317]:
df['CO_(Carbon Monoxide)']= pd.to_numeric(df['CO_(Carbon Monoxide)'], errors='coerce')
df['CO_(Carbon Monoxide)'].median()

np.float64(14.5)

In [318]:
city_wise_median_CO = df.groupby('City_name')['CO_(Carbon Monoxide)'].median()

In [319]:
df['CO_(Carbon Monoxide)'] = df.apply(
    lambda row: city_wise_median_CO[row['City_name']] if pd.isnull(row['CO_(Carbon Monoxide)']) else row['CO_(Carbon Monoxide)'],
    axis=1
)

In [320]:
df.isnull().sum()

City_name                     0
Date                          0
PM2.5                         0
PM10                          0
NO_(Nitric Oxide)             0
NO2_(Nitrogen Dioxide)        0
NOx                           0
NH3_(Ammonia)                 0
CO_(Carbon Monoxide)          0
SO2_(Sulfur Dioxide)       3852
O3_(Ozone)                 4019
Benzene                    5622
Toluene                    8039
Xylene                    18104
AQI                        4677
 AQI_bucket                4667
dtype: int64

In [321]:
df['SO2_(Sulfur Dioxide)']= pd.to_numeric(df['SO2_(Sulfur Dioxide)'], errors='coerce')
df['SO2_(Sulfur Dioxide)'].median()

np.float64(9.16)

In [322]:
city_wise_median_SO2 = df.groupby('City_name')['SO2_(Sulfur Dioxide)'].median()

In [323]:
df['SO2_(Sulfur Dioxide)'] = df.apply(
    lambda row: city_wise_median_SO2[row['City_name']] if pd.isnull(row['SO2_(Sulfur Dioxide)']) else row['SO2_(Sulfur Dioxide)'],
    axis=1
)

In [325]:
df['O3_(Ozone)']= pd.to_numeric(df['O3_(Ozone)'], errors='coerce')
df['O3_(Ozone)'].median()

np.float64(30.84)

In [327]:
city_wise_median_o3 = df.groupby('City_name')['O3_(Ozone)'].median()

In [328]:
df['O3_(Ozone)'] = df.apply(
    lambda row: city_wise_median_o3[row['City_name']] if pd.isnull(row['O3_(Ozone)']) else row['O3_(Ozone)'],
    axis=1
)

In [330]:
df['City_name'] = df['City_name'].str.strip()

In [331]:
# Check for invalid or non-numeric entries in 'O3_(Ozone)'
print(df['O3_(Ozone)'].head())  # Inspect the first few rows of 'O3_(Ozone)'

0    34.06
1    36.08
2    39.31
3    46.51
4    33.47
Name: O3_(Ozone), dtype: float64

In [332]:
# Reapply the lambda function to replace NaNs in 'O3_(Ozone)' with city-wise median
df['O3_(Ozone)'] = df.apply(
    lambda row: city_wise_median_o3[row['City_name']] if pd.isnull(row['O3_(Ozone)']) else row['O3_(Ozone)'],
    axis=1
)

In [333]:
# Fill remaining NaN values in 'O3_(Ozone)' with the overall median of the column
df['O3_(Ozone)'].fillna(df['O3_(Ozone)'].median(), inplace=True)

C:\Users\ragab\AppData\Local\Temp\ipykernel_22940\873931889.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['O3_(Ozone)'].fillna(df['O3_(Ozone)'].median(), inplace=True)

In [334]:
# Check if there are any remaining NaN values in 'O3_(Ozone)'
print(df['O3_(Ozone)'].isnull().sum())  # Should return 0 if all NaNs are replaced

0

In [335]:
df.isnull().sum()

City_name                     0
Date                          0
PM2.5                         0
PM10                          0
NO_(Nitric Oxide)             0
NO2_(Nitrogen Dioxide)        0
NOx                           0
NH3_(Ammonia)                 0
CO_(Carbon Monoxide)          0
SO2_(Sulfur Dioxide)          0
O3_(Ozone)                    0
Benzene                    5622
Toluene                    8039
Xylene                    18104
AQI                        4677
 AQI_bucket                4667
dtype: int64

In [339]:
df['Benzene'] = pd.to_numeric(df['Benzene'], errors='coerce')
df['Benzene'].median()

np.float64(1.07)

In [340]:
city_wise_median_BENZ = df.groupby('City_name')['Benzene'].median()

In [341]:
df['Benzene'] = df.apply(
    lambda row: city_wise_median_BENZ[row['City_name']] if pd.isnull(row['Benzene']) else row['Benzene'],
    axis=1
)

In [345]:
df['Benzene'].fillna(df['Benzene'].median(), inplace=True)
print(df['Benzene'].isnull().sum())

0

C:\Users\ragab\AppData\Local\Temp\ipykernel_22940\3607714287.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Benzene'].fillna(df['Benzene'].median(), inplace=True)

In [347]:
df['Toluene']= pd.to_numeric(df['Toluene'], errors='coerce')
df['Toluene'].median()

np.float64(2.97)

In [348]:
city_wise_median_Toluene = df.groupby('City_name')['Toluene'].median()

In [349]:
df['Toluene'] = df.apply(
    lambda row: city_wise_median_Toluene[row['City_name']] if pd.isnull(row['Toluene']) else row['Toluene'],
    axis=1
)

In [351]:
df['Toluene'].fillna(df['Toluene'].median(), inplace=True)
print(df['Toluene'].isnull().sum())

0

C:\Users\ragab\AppData\Local\Temp\ipykernel_22940\463274579.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Toluene'].fillna(df['Toluene'].median(), inplace=True)

In [354]:
df['Xylene']= pd.to_numeric(df['Xylene'], errors='coerce')
df['Xylene'].median()

np.float64(0.98)

In [355]:
city_wise_median_Xylene = df.groupby('City_name')['Xylene'].median()

In [356]:
df['Xylene'] = df.apply(
    lambda row: city_wise_median_Xylene[row['City_name']] if pd.isnull(row['Xylene']) else row['Xylene'],
    axis=1
)

In [358]:
df['Xylene'].fillna(df['Xylene'].median(), inplace=True)
print(df['Xylene'].isnull().sum())

0

C:\Users\ragab\AppData\Local\Temp\ipykernel_22940\3692332530.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Xylene'].fillna(df['Xylene'].median(), inplace=True)

In [360]:
df['AQI']= pd.to_numeric(df['AQI'], errors='coerce')
df['AQI'].median()

np.float64(118.0)

In [361]:
city_wise_median_AQI = df.groupby('City_name')['AQI'].median()

In [362]:
df['AQI'] = df.apply(
    lambda row: city_wise_median_AQI[row['City_name']] if pd.isnull(row['AQI']) else row['AQI'],
    axis=1
)

In [364]:
df[' AQI_bucket']= pd.to_numeric(df[' AQI_bucket'], errors='coerce')
df[' AQI_bucket'].median()

np.float64(0.0)

In [365]:
city_wise_median_AQIB = df.groupby('City_name')[' AQI_bucket'].median()

In [366]:
df[' AQI_bucket'] = df.apply(
    lambda row: city_wise_median_AQIB[row['City_name']] if pd.isnull(row[' AQI_bucket']) else row[' AQI_bucket'],
    axis=1
)

In [368]:
df[' AQI_bucket'].fillna(df[' AQI_bucket'].median(), inplace=True)
print(df[' AQI_bucket'].isnull().sum())

0

C:\Users\ragab\AppData\Local\Temp\ipykernel_22940\2632369002.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[' AQI_bucket'].fillna(df[' AQI_bucket'].median(), inplace=True)

In [369]:
df.isnull().sum()

City_name                 0
Date                      0
PM2.5                     0
PM10                      0
NO_(Nitric Oxide)         0
NO2_(Nitrogen Dioxide)    0
NOx                       0
NH3_(Ammonia)             0
CO_(Carbon Monoxide)      0
SO2_(Sulfur Dioxide)      0
O3_(Ozone)                0
Benzene                   0
Toluene                   0
Xylene                    0
AQI                       0
 AQI_bucket               0
dtype: int64

In [372]:
import os
print(os.getcwd())  # Prints the current working directory

C:\Users\ragab

In [374]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned Air Quality data.csv', index=False)